body{
	position: fixed;;
}
#menu{
	height: 10%;
	margin: 5px;
	
	
}
.linkMenu{
	margin: 5px;
}
.cadastro{
	margin-bottom: 30px;
	margin-left: 400px;
	display: center;
	
}
.tabela{
	margin-left: 100px;
	margin-right: 100px;
}
.linhaTabela{
	margin: 100px;
}
.contTable{
	padding:  20px;
	text-align: center;
	border:  2px solid #000000;
}
#table{
	margin-left: 20%;

}

#busca{
	margin-left: 15%;
}





